/* Importer font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto+Condensed');

/* GENERAL */

html, body, p, h1, h2, ul {
    margin: 0;
    padding: 0;
}

p, h1, h2, li, a {
    font-family: 'Roboto Thin';
    color: whitesmoke;
    text-decoration: none;
}

.navAccueil .navAccueil, 
.navGalerie .navGalerie, 
.navVente .navVente,
.navContact .navContact {
    font-family: 'Roboto';
    font-weight: bold;
}

/* HEADER */
header {
    background-color: rgb(10,10,10);
    display: flex;
    flex-direction: column;
    align-items: center;

}

header h1 {
    font-size: 4em;
    padding: 1% 0;
}

nav {
    width: 100vw;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
}

nav ul {
    list-style: none;
    display: flex;
    width : 100%;
    font-size: 2em;
    justify-content: space-around;
    padding : 1% 5%;
    box-sizing: border-box;
}

nav a:hover {
    color: rgb(190, 190, 190);
    transition: color 0.3s;
}

nav a {
    transition: color 0.3s;
}

/* MAIN */

/* PARAMETRES GENERAUX DE PAGE */

main {
    background-color: rgb(50, 50, 50);
}

.intro {
    font-size: 1.5em;
    
    padding: 5% 20%;
}