/* Importer font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto+Condensed');

/* GENERAL */

body {
    overflow-x: hidden;
    min-height: 100vh;
}

html, body, p, h1, h2, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: orangered;
}

p, h1, h2, li {
    font-family: 'Roboto Thin';
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    transition: all 0.5s;
}

p {
    text-transform: none;
}

.navAccueil .navAccueil, 
.navGalerie .navGalerie, 
.navVente .navVente,
.navContact .navContact {
    font-family: 'Roboto';
    font-weight: bold;
}

/* HEADER */
header {
    background-color: rgb(10,10,10);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

header h1 {
    font-size: 4em;
    padding: 1% 0;
}

header img {
    border-radius : 3000px;
}

/* 0.01 * (4.04em + 0.04em)
*/
nav {
    width: 100vw;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
}

nav ul {
    list-style: none;
    display: flex;
    width : 100%;
    font-size: 2em;
    justify-content: space-around;
    padding : 1% 5%;
    box-sizing: border-box;
    color: whitesmoke !important;
}

nav a:hover {
    color: rgb(190, 190, 190);
    transition: color 0.3s;
    text-decoration: none;
}

nav a {
    transition: color 0.3s;
    color: whitesmoke;
}

/* MAIN */

/* PARAMETRES GENERAUX DE PAGE */

main {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    font-size: 1.5em;
    padding: 2% 20%;
    text-align: center;
    line-height: 1.5;
}

/* POSITIONNEMENT MENU PRINCIPAL */

.accueil {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-column-gap: 20%;
    grid-row-gap: 10%;
    justify-content: center;
    margin-bottom: 10%;
}

.menuPrincipal {
    width: 35vw;
    height: 390px;
    min-width: 390px;
    text-transform: uppercase;
    position:relative;
    overflow: hidden;
}

.menuPrincipal div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    left: 0;
    top: calc(390px - 4.1vw);
    transition: top 0.5s;
}

.menuPrincipal div:hover {
    top: 0;
    transition: top 0.5s;
}

.menuPrincipal h2 {
    font-size: 2.5vw;
    padding: 2%;
    text-align: center;
}

.menuPrincipal p{
    margin: 10% 3%;
    font-size: 1.2em;
    text-align: center;
}

.menuPrincipal:first-child {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../images/homepage/vente.jpg);
    background-size: cover;

}

.menuPrincipal:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../images/homepage/vente.jpg);
    background-size: cover;
}

.menuPrincipal:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../images/homepage/vente.jpg);
    background-size: cover;
}
.menuPrincipal:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    background-image: url(../images/homepage/vente.jpg);
    background-size: cover;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
    .accueil {
        grid-template-rows: 4;
        grid-template-columns: 1;
        grid-row-gap: 2%;
    }
    
    .menuPrincipal:nth-child(2n) {
        grid-column: 1;
    }
    
    .menuPrincipal:nth-child(2) {
        grid-row: 3;
    }
    
    .menuPrincipal:nth-child(4) {
        grid-row: 4;
    }
    
    .menuPrincipal div {
        top: 300px;
    }
    
    .menuPrincipal div h2 {
        padding: 35px 0;
    }
    
    .accueil {
        margin-bottom: 20%;
    }
    
}

/* GALERIE */

.galerie img {
    height: 22vw;
    width: 22vw;
    object-fit: cover;
}

.galerie {
    display: grid;
    grid-template-columns: 3;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin-bottom: 50px;
}

.image {
    position: relative;
}

.image:nth-child(3n+1) {
    grid-column: 1;
}

.image:nth-child(3n+2) {
    grid-column: 2;
}

.image:nth-child(3n+3) {
    grid-column: 3;
}

.image [type="image"] {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    background-color: white;
    border-radius: 5000px;
    padding : 10px;
}


/* FOOTER */

footer{
    background-color: rgb(10,10,10);
    box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
    padding: 5px;
    box-sizing: border-box;
}

footer p:first-child {
    max-width: 20vw;
}